-const ruuvi = `<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 999.56 1200"><defs><style>.a{fill:#fff;}</style></defs><path class="a" d="M499.59,2C223.56,2-.22,225.81-.25,501.95S223.46,1002,499.48,1002,999.23,778.26,999.32,502.16C999.78,226.42,776.72,2.51,501.1,2.05h-1.51M603,829.42c-174.61,0-316.64-140.69-318.36-315.37a216.85,216.85,0,0,0,70.71,11.63c121.74,0,220.43-98.72,220.44-220.51A220.6,220.6,0,0,0,547.46,197,328.75,328.75,0,0,1,603,191.8c175.87,0,318.44,142.63,318.44,318.58S778.86,829,603,829"/></svg>` //  width="16" height="16"

doctype html
html.h-100

  head
    meta(charset="utf-8")
    base(href=`${ingress}`)
    <!--[if LT IE 8]></base><![endif]-->
    title #{addon.name}
    meta(name="robots" content="noindex")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-3.4.1.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js")

  body.h-100
    .container-fluid#page
        .row#header(style="background-color:#45A5F0; color: white;")
            .col-8.p-3.pl-4
                span.mr-4 RuuviTags Discovery
                a.mr-4.panel-view.text-white.jstooltip(data-target="panel-tags" title="Discover RuuviTags" href="#")
                    i.fal.fa-signal-stream
                a.mr-4.panel-view.text-white.jstooltip(data-target="panel-targets" title="Targets" href="#")
                    i.fal.fa-database
                a.mr-4.panel-view.text-white.jstooltip(data-target="panel-config" title="Configuration" href="#")
                    i.fal.fa-cog
            .col-4.m-auto.pr-4
                .float-right
                    small: em v#{addon.version}
                    a.ml-2.text-white(href=`${addon.url}` target="_blank")
                        i.fab.fa-github.fa-sm
                    a.ml-1.text-white(href=`https://ruuvi.com/` target="_blank") !{ruuvi}
        
        #content.mb-4
            .panel-display#panel-tags(style="display: none-;")
                #tags
            .panel-display#panel-targets(style="display: none;")
                #targets
            .panel-display#panel-config(style="display: none;")
                .row
                    .col-12.pt-2
                        textarea#sampling-json(style="display: none;") #{JSON.stringify(config.sampling)}
                        textarea#battery-json(style="display: none;") #{JSON.stringify(config.battery)}
                        #config

    script(src=`${ingress}app.js`)
    script(src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
    script(src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    script(src="//kit.fontawesome.com/845c15abb5.js" crossorigin="anonymous")
