doctype html
html.h-100

head
    meta(charset="utf-8")
    base(href=`${ingress}`)
    <!--[if LT IE 8]></base><![endif]-->
    title #{addon.name}
    meta(name="robots" content="noindex")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- link(rel="icon" type="image/png" href="${ingress}assets/favicon.png")
    link(rel="stylesheet" href=`${ingress}assets/bootstrap.4.6.0.min.css`)
    link(rel="stylesheet" href=`${ingress}assets/app${version}.css`)
    link(rel="stylesheet" href=`${ingress}assets/fa/css/all.min-5.13.0.css`)
    script(defer src=`${ingress}assets/app${version}.js`)
    script(src=`${ingress}assets/moment-with-locales.2.29.1.min.js`)
    style .app-color {color: #45A5F0;} .app-bgcolor {background-color: #45A5F0; color: white;} 

body.h-100
